body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff4ec;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.profile {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.adoption-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.adoption-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.adoption-card p{
    color:black;
}
.adoption-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
